extends layouts/main.pug


block content
    .healthy-food-section.pt-5.pb-5
        .container
            .text-center.h-75
                h1.text-danger.font-weight-bold 404 Page Not Found
                p Page you looking for does not exists