extends layouts/main.pug

block style
  link(rel="stylesheet" href="/delivery-payment.css")

block content
    .healthy-food-section.pt-5.pb-5
        .container
            .row
                .col-12.col-md-5
                    .text-center
                    img.healthy-food-section-img(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/healthy-food-plate-img.png")
                .col-12.col-md-7
                    h1.healthy-food-section-heading Fresh, Healthy, Organic, Delicious Fruits
                    p.healthy-food-section-description
                    | Say no to harmful chemicals and go fully organic with our range of fresh fruits and veggies. Pamper your body and your senses with the true and unadulterated gifts from mother nature. with the true and unadulterated gifts from mother nature.
                    button.custom-button Watch Video
