extends layouts/main.pug

block style
  link(rel="stylesheet" href="/explore-menu.css")

block content
  .explore-menu-section.pt-5.pb-5
    .container
        .row
            .col-12
                h1.menu-section-heading Explore Menu
            .col-12.col-md-6.col-lg-3
                .shadow.menu-item-card.p-3.mb-3
                    img.menu-item-image.w-100(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-ginger-fried-img.png")
                    h1.menu-card-title Non-Veg Starters
                    a.menu-item-link(href="")
                    | View All
                    svg.bi.bi-arrow-right-short(width="16px", height="16px", viewBox="0 0 16 16", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                        path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z")
            .col-12.col-md-6.col-lg-3
                .shadow.menu-item-card.p-3.mb-3
                    img.menu-item-image.w-100(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-veg-starters-img.png")
                    h1.menu-card-title Veg Starters
                    a.menu-item-link(href="")
                    | View All
                    svg.bi.bi-arrow-right(width="16px", height="16px", viewBox="0 0 16 16", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                        path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z")
            .col-12.col-md-6.col-lg-3
                .menu-item-card.shadow.p-3.mb-3
                    img.menu-item-image.w-100(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-soup-img.png")
                    h1.menu-card-title Soups
                    a.menu-item-link(href="")
                    | View All
                    svg.bi.bi-arrow-right(width="16px", height="16px", viewBox="0 0 16 16", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                        path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8")
            .col-12.col-md-6.col-lg-3
                .menu-item-card.shadow.p-3.mb-3
                    img.menu-item-image.w-100(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-grilled-seafood-img.png")
                    h1.menu-card-title Fish & Sea Food
                    a.menu-item-link(href="")
                    | View All
                    svg.bi.bi-arrow-right(width="16px", height="16px", viewBox="0 0 16 16", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                        path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8")
            .col-12.col-md-6.col-lg-3
                .menu-item-card.shadow.p-3.mb-3
                    img.menu-item-image.w-100(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-hyderabadi-biryani-img.png")
                    h1.menu-card-title Main Course
                    a.menu-item-link(href="")
                    | View All
                    svg.bi.bi-arrow-right(width="16px", height="16px", viewBox="0 0 16 16", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8")
            .col-12.col-md-6.col-lg-3
                .menu-item-card.shadow.p-3.mb-3
                    img.menu-item-image.w-100(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-mushroom-noodles-img.png")
                    h1.menu-card-title Noodles
                    a.menu-item-link(href="")
                    | View All
                    svg.bi.bi-arrow-right(width="16px", height="16px", viewBox="0 0 16 16", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8")
            .col-12.col-md-6.col-lg-3
                .menu-item-card.shadow.p-3.mb-3
                    img.menu-item-image.w-100(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-gluten-img.png")
                    h1.menu-card-title Salads
                    a.menu-item-link(href="")
                    | View All
                    svg.bi.bi-arrow-right(width="16px", height="16px", viewBox="0 0 16 16", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8")
            .col-12.col-md-6.col-lg-3
                .menu-item-card.shadow.p-3.mb-3
                    img.menu-item-image.w-100(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-coffee-bourbon-img.png")
                    h1.menu-card-title Desserts
                    a.menu-item-link(href="")
                    | View All
                    svg.bi.bi-arrow-right(width="16px", height="16px", viewBox="0 0 16 16", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8")
