extends layouts/main.pug

block style
    link(rel="stylesheet" href="/home.css")

block content
    .banner-section-bg-container.d-flex.justify-content-center.flex-column
            .text-center
                h1.banner-heading.mb-3 Get Delicious Food Anytime
                p.banner-caption.mb-4 Eat Smart & Healthy
                button.custom-button View Menu
                button.custom-outline-button Order Now